<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Track List</title>
	<link rel="shortcut icon" href="./img/icon.png" type="image/x-icon">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-4 col-md-4">
					<div class="input-group search-form">
						<input id="search-input" type="text" class="form-control" v-model="term" placeholder="Search for..." autofocus>
						<span class="input-group-btn">
							<button id="search-btn" class="btn btn-default" type="button" @click="getTrackList">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table track-list">
						<thead>
							<tr>
								<th></th>
								<th>Artist</th>
								<th>Track</th>
								<th>Collection</th>
								<th>Genre</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="track-info" v-for="(track, index) in trackList" :key="index">
							<template>
								<tr class="short-info" @click="toggle(index)">
									<td>
										<img class="artwork" :src="track.artworkUrl100" :alt="track.collectionName">
									</td>
									<td>{{ track.artistName }}</td>
									<td>{{ track.trackName }}</td>
									<td>{{ track.collectionName }}</td>
									<td>{{ track.primaryGenreName }}</td>
									<td>
										<span class="glyphicon toggle-btn" :class="[parentId == index ? 'glyphicon-minus' : 'glyphicon-plus']"></span>
									</td>
								</tr>
								<tr is="t-row" class="track-header" :is-active="parentId == index">
									<td></td>
									<td colspan="5">
										<h3>{{ track.artistName }} - {{ track.trackName }}
											<span class="glyphicon glyphicon-music music-icon"></span>
										</h3>
									</td>
								</tr>
								<tr is="t-row" class="track-details" :is-active="parentId == index">
									<td></td>
									<td colspan="2">
										<b>Collection:</b> {{ track.collectionName }}
										<br>
										<b>Track Count:</b> {{ track.trackCount }}
										<br>
										<b>Price:</b> {{ track.collectionPrice }} USD
									</td>
									<td>
										<b>Track duration:</b> {{ (track.trackTimeMillis / 1000 / 60).toFixed(2) }} min
										<br>
										<b>Track Price:</b> {{ track.trackPrice }} USD
									</td>
									<td colspan="2"></td>
								</tr>
							</template>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="./js/jquery-3.3.1.min.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/app.js"></script>
</body>

</html>